{
  "openapi": "3.0.3",
  "info": {
    "title": "Checkpoint API",
    "description": "REST API for managing participant data in PostgreSQL with tenant isolation",
    "version": "1.0.0",
    "contact": {
      "name": "Support",
      "email": "support@b-digital.uk"
    }
  },
  "servers": [
    {
      "url": "https://api.checkpoint.b-digital.uk",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Firebase ID token"
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object"
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "offset": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "VALIDATION_ERROR"
              },
              "message": {
                "type": "string",
                "example": "Human readable message"
              },
              "details": {
                "type": "string",
                "example": "Additional details"
              }
            }
          }
        }
      },
      "Participant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "instance_id": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "surname": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "gender": {
            "type": "string",
            "enum": ["Male", "Female", "Other"]
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive"]
          },
          "date_of_birth": {
            "type": "string",
            "format": "date"
          },
          "school_year": {
            "type": "string"
          },
          "rank": {
            "type": "string"
          },
          "unit_name": {
            "type": "string"
          },
          "school_institute": {
            "type": "string"
          },
          "arrival_date": {
            "type": "string",
            "format": "date"
          },
          "departure_date": {
            "type": "string",
            "format": "date"
          },
          "super_group_id": {
            "type": "string"
          },
          "sub_group_id": {
            "type": "string"
          },
          "block_id": {
            "type": "string"
          },
          "room_id": {
            "type": "string"
          },
          "room_number": {
            "type": "string"
          },
          "photo_link": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Instance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["upcoming", "active", "completed", "archived"]
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "location": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Supergroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "instance_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "purpose": {
            "type": "string"
          },
          "notifications": {
            "type": "boolean"
          }
        }
      },
      "Subgroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "instance_id": {
            "type": "string"
          },
          "parent_supergroup_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Block": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "instance_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Room": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "room_number": {
            "type": "string"
          },
          "block_id": {
            "type": "string"
          },
          "instance_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "capacity": {
            "type": "integer"
          }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "tags": ["Health"],
        "summary": "Health Check",
        "description": "Check if the API is running and database is connected",
        "security": [],
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/participants": {
      "get": {
        "tags": ["Participants"],
        "summary": "List Participants",
        "description": "Retrieve a list of participants, optionally filtered by instance or status",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by instance ID"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["active", "inactive"]
            },
            "description": "Filter by status"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Number of results per page"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of results to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "List of participants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Participants"],
        "summary": "Create Participant",
        "description": "Create a new participant in the system",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["user_id", "instance_id", "first_name", "surname"],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "Unique identifier for the participant"
                  },
                  "instance_id": {
                    "type": "string",
                    "description": "Instance ID the participant belongs to"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "Participant first name"
                  },
                  "surname": {
                    "type": "string",
                    "description": "Participant surname"
                  },
                  "full_name": {
                    "type": "string",
                    "description": "Full name (auto-generated if not provided)"
                  },
                  "gender": {
                    "type": "string",
                    "enum": ["Male", "Female", "Other"]
                  },
                  "status": {
                    "type": "string",
                    "enum": ["active", "inactive"],
                    "default": "active"
                  },
                  "date_of_birth": {
                    "type": "string",
                    "format": "date"
                  },
                  "school_year": {
                    "type": "string"
                  },
                  "rank": {
                    "type": "string"
                  },
                  "unit_name": {
                    "type": "string"
                  },
                  "school_institute": {
                    "type": "string"
                  },
                  "arrival_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "departure_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "super_group_id": {
                    "type": "string"
                  },
                  "sub_group_id": {
                    "type": "string"
                  },
                  "block_id": {
                    "type": "string"
                  },
                  "room_id": {
                    "type": "string"
                  },
                  "room_number": {
                    "type": "string"
                  },
                  "photo_link": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Participant created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/participants/{id}": {
      "get": {
        "tags": ["Participants"],
        "summary": "Get Participant",
        "description": "Retrieve details for a specific participant by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Participant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Participant details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Participant not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Participants"],
        "summary": "Update Participant",
        "description": "Update an existing participant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Participant ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Participant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Participant updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Participants"],
        "summary": "Delete Participant",
        "description": "Soft delete a participant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Participant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Participant deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/instances": {
      "get": {
        "tags": ["Instances"],
        "summary": "List Instances",
        "description": "Retrieve all instances for your tenant",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["upcoming", "active", "completed", "archived"]
            },
            "description": "Filter by status"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of instances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Instances"],
        "summary": "Create Instance",
        "description": "Create a new camp/session instance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": ["upcoming", "active", "completed", "archived"],
                    "default": "upcoming"
                  },
                  "start_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "end_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "location": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Instance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/groups/supergroups": {
      "get": {
        "tags": ["Groups"],
        "summary": "List Supergroups",
        "description": "Retrieve all supergroups for your tenant",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by instance ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of supergroups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Groups"],
        "summary": "Create Supergroup",
        "description": "Create a new supergroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "instance_id"],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "instance_id": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "purpose": {
                    "type": "string"
                  },
                  "notifications": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Supergroup created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/groups/subgroups": {
      "get": {
        "tags": ["Groups"],
        "summary": "List Subgroups",
        "description": "Retrieve all subgroups",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent_supergroup_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subgroups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Groups"],
        "summary": "Create Subgroup",
        "description": "Create a new subgroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "instance_id", "parent_supergroup_id"],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "instance_id": {
                    "type": "string"
                  },
                  "parent_supergroup_id": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subgroup created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/blocks": {
      "get": {
        "tags": ["Blocks & Rooms"],
        "summary": "List Blocks",
        "description": "Retrieve all blocks for your tenant",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of blocks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Blocks & Rooms"],
        "summary": "Create Block",
        "description": "Create a new block",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "instance_id"],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "instance_id": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Block created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rooms": {
      "get": {
        "tags": ["Blocks & Rooms"],
        "summary": "List Rooms",
        "description": "Retrieve all rooms for your tenant",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "block_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of rooms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Blocks & Rooms"],
        "summary": "Create Room",
        "description": "Create a new room within a block",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["room_number", "block_id", "instance_id"],
                "properties": {
                  "room_number": {
                    "type": "string"
                  },
                  "block_id": {
                    "type": "string"
                  },
                  "instance_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "capacity": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Room created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
